/*Reset Css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;

}

/*header*/

#header {
  height: 72px;
  background-color: #312E52;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#nav {
  display: flex;
  align-items: center;
  list-style-type: none;
}

#nav li {
  display: inline-block;
}

#nav .logo{
  height: 56px;
  width: 56px;
  margin-left: 32px;
}

#nav .logoName{
  color: white;
  text-decoration: none;
  font-size: 32px;
  margin-left: 8px;
  padding-right: 8px;
}

#nav .menu_icon{
  
}

#header .setting_icon{
  height: 40px;
  width: 40px;
  float: right;
  margin-right: 32px;
  cursor: pointer;
}

/*end header*/

/*menu bar*/

#content {
  display: flex;
  align-items:start;
  height: 100vh;
  background-color: #F4F4F4;
  width:100%;
}

#content .menu-bar{
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 25%;
  background-color: #312E52;
  
}

.button_menu_icon{
  background-color: #312E52;
  border-style:none;
   height: 40px;
  width: 40px;
  margin-left: 8px;
  cursor:pointer;
}

#content .menu-bar.close{
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 5%;
  background-color: #312E52;
}

#content .menu-bar.close .bar,
#content .menu-bar .bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  width:--webkit-fill-available;
  height: auto;
}

#content .menu-bar.close .bar li{
  display:block;
  margin-top: 16px;
  padding: 8px 8% 8px 8%;
  border-radius: 8px;
  background-color: #6B55BC;
  height:40px;
  width:80%;
  font-size: 0px;
}

#content .menu-bar .bar li{
  display:block;
  margin-top: 16px;
  padding: 8px 8% 8px 8%;
  border-radius: 8px;
  background-color: #6B55BC;
  height:40px;
  width:80%;
  font-size: 16px;
}

#content .menu-bar.close .bar li a{
  justify-content:center;
  align-content:center;
  display:flex;
  left:0;
  text-decoration: none;
}
#content .menu-bar .bar li a{
  justify-content:left;
  align-content:center;
  display:flex;
  left:0;
  text-decoration: none;
}

#content .menu-bar.close .nav-text{
  opacity: 0;
  margin-left:0;
}


#content .menu-bar .nav-text{
  color: black;
  
  margin-left:8px;
}

#content #sub-content{
  width:inherit;
  align-items: center;
  height: 100vh;
  background-color: #1E1D2E;
  padding: 16px 32px 0 32px;
    
}

/*The end of menu bar*/


/*sub-content*/

#assistant-view,
#apikey-view,
#library-view,
#chatflow-view{
  width: 100%;
  height: fit-content;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: #312E52;
  padding: 16px;
}

#sub-content #apikey-view .header-chatflow,
#sub-content #assistant-view .header-chatflow,
#sub-content #library-view .header-chatflow,
#sub-content #chatflow-view .header-chatflow{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  list-style-type: none;
}

#apikey-view .header-chatflow .chatflow-name,
#assistant-view .header-chatflow .chatflow-name,
#library-view .header-chatflow .chatflow-name,
#chatflow-view .header-chatflow .chatflow-name{
  height: 56px;
  width:fit-content;
  padding: 0 16px 0 16px;
  font-size: 32px;
  background-color: #9F9EA2;
  border-radius: 8px;
  text-align:center;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-chatflow .left-header{
  display: flex;
}

.header-chatflow .right-header{
  display: flex;
}

.header-chatflow .add-directory{
  height: 56px;
  width:228px;
  font-size: 32px;
  border-radius: 8px;
  background-color: #7B7D59;
  color: #000000;
  cursor: pointer;
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;
}

.base {  
  position: relative;
  height: 56px;
  width: 200px;
  margin-left: 16px;
}
.search-box {
  width: 56px;
  height: 56px;
  border-radius: 8px;
  cursor: pointer;
  position: absolute;
  background: #7F7CAC;
  z-index: 9;
  transition: .3s;
  transform: translate(2px, 2px);
}
.search-box:before, .search-box:after {
  content: "";
  position: absolute;
}
.search-box:before {
  width: 16px;
  height: 16px;
  border: 2px solid black;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.search-box:after {
  width: 2.5px;
  height: 8px;
  background: black;
  top: 50%;
  left: 50%;
  transform: translate(8px, 5px) rotate(-45deg);
}
input {
  width: 56px;
  height: 56px;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 14px;
  background: #666;
  position: absolute;
  z-index: 6;
  transition: .3s;
}
.cross {
  cursor: pointer;
  font-size: 25px;
  transition: .3s;
  position: relative;
  z-index: 3;
  display: inline-block;
  transform: translate(20px, 11px) rotate(-360deg);
}
.move-search {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(355px, 5px);
}
.active input {
  width: 400px;
  height: 40px;
  padding: 0 60px 0 20px;
  border-radius: 30px;
}
.show-cross {
  transform: translate(420px, 11px) rotate(0deg);
}

