* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif;

      overflow: hidden;
      scroll-behavior: none;
  }

  .ic {
    cursor: pointer;
  }
  
  #header {
    height: 72px;
    background-color: #414873;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #header-left {
        display: flex;
        align-items: center;
        list-style-type: none;
        margin-left: 48px;
    
        .btn {
            padding: 10px 16px;
            margin: 0 32px;
            border: none;
            border-radius: 8px;
            font-size: 20px;
            font-weight: 600;
            width: 160px;
            background-color: #9290C3;
            cursor: pointer;
          }
      }

    #header-right {
        display: flex;
        align-items: center;
        list-style-type: none;
        margin-right: 48px;

        #ic-save{
            margin-right: 32px;
        }
    }
  }

  .content {
    height: 100%;
    width: 100%;
    padding: 0 32px 32px 32px;
    background-color: #1e1d2e;
    

    .content-bar{
      display: flex;
      width: 100%;
      padding: 16px;
      justify-content: space-between;
      align-items: center;

      .btn{
        display: flex;
        align-items: center;
        padding: 10px 12px;
        margin-left: 32px;
        border-radius: 8px;
        border: none;
        background-color: #535C91;
        cursor: pointer;

        .btn-content{
          margin-left: 10px; 
          font-size: 18px;
          font-weight: 600;
          color: #fff;
        }
      }

      .bar-left{
        display: flex;
        align-items: center;
      }
      .bar-right{
        display: flex;
        align-items: center;

        #btn-run{
          border-radius: 50%;
          background-color: #535C91;
          border: none;
          color: white;
          padding: 16px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          cursor: pointer;
        }
      }
    }

    .main-content{
      display: flex;
      $background-color: #2d2d2d;
      $text-color: white;
      $search-background: #1a1a1a;
      $item-border-color: #444;
      $menu-padding: 20px;

      .side-menu {
        width: 339px;
        height: 78vh;
        overflow-x: hidden;
        overflow-y: scroll;
        margin-right: 8px;
        margin-bottom: 16px;
        border-radius: 8px;
        background-color: #312E52;
        color: #F4F3F3;
        box-sizing: border-box;

        scrollbar-width: none;

        .search-box {
          padding: 10px;
          border-radius: 8px;
          margin: 8px;
          background-color: #9290c3;
          display: flex;
          margin-bottom: $menu-padding;
          input {
            height: 28px;
            width: 100%;
            background-color: #9290c3;
            margin-left: 8px;
            border: none;
            outline: none;
            font: 700;
            font-size: 16px;
            color: #1B1A55;

          }

        }

        .menu-section , .search-result {
          margin-bottom: $menu-padding;

          .menu-header {
            display: flex;
            justify-content: space-between; 
            padding: 10px;
            font-weight: bold;
            border-top: 2px solid #4d4b68;
            border-bottom: 2px solid #4d4b68;
            cursor: pointer;

          }

          .menu-item {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            padding: 10px 0;
            .item {
              width: 50%;  
              padding: 8px 0; 
              margin: 8px 0;
              cursor: pointer;
              .item-name {
                display: flex;
                justify-content: center;
                align-items: center;  
              }
            }
            
          }
        }

      }

      #workspace {
        width: 100%;
        height: 78vh;
        overflow: hidden; 
        position: relative;
        background-color: #473e5098;
        border: 1px solid #000000;
      
        canvas {
          width: 3000px;
          height: 3000px;
          position: absolute;
          top: 0;
          left: 0; 
        }
      
      }
    }


    
  }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.699);

  .modal-content {
    background-color: #312E52;
    margin: 15% auto;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 40%;
    position: relative;
    display: flex;
    flex-direction: column;

    .close {
      color: #aaa;
      font-size: 28px;
      font-weight: bold;
      position: absolute;
      top: 0px;
      right: 10px;

      &:hover,
      &:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }

    p {
      color: #fff;
      margin-bottom: 10px;
    }

    #modalInput {
      background-color: #9290c3;
      border-radius: 8px;
      width: calc(100%);
      border: none;
      outline: none;
      padding: 10px;
      margin-bottom: 10px;
    }

    #submitInput {
      padding: 10px 20px;
      background-color: #1e1d2e;
      margin: 0 auto;
      margin-top: 10px;
      border-radius: 8px;
      color: #fff;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: darken(#1e1d2e, 10%);
      }
    }
  }
}


  
  